{% extends 'base.html.twig' %}

{% block title 'Super-Immo' %}

{% block body %}
	<div class="jumbotron text-center">
		<h1>Agence Super-Immo</h1>
		<p>Super-Immo, pour votre recherche immobiliere</p>
	</div>
	
	<div class="container">
	<h2>Les derniers biens</h2>
	<div class="row flex">
		{% for property in properties %}
			<div class="col-md-4">
        			{% include 'property/_property.html.twig' %}
        		</div>
			{% endfor %}
	</div>
	</div>
{% endblock %}